/*Base for main moduls*/
/*Tags */
html {
    font-size: 16px;
}

a {
    text-decoration: none !important;
    color: #fff;
}

body {
    color: #000;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 500 !important;

}

section {
    margin-top: 50px;
}

.main-block {
    width: 100%;
}


/*Text and fonts */

.oswb {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700 !important;
}

.txt_orange {
    color: #F7654A;
}

.txt_white {
    color: #fff !important;
}

.txt_black {
    color: #000;
}

.txt_white>* {
    color: #fff;
}

/*Blocks*/

/*Header*/
.header {
    font-size: 1.7rem;
    background-color: rgba(00, 0, 00, 0.7);
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    font-size: 1.7rem;
    background-color: rgba(00, 0, 00, 0);
}
.header-languages {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-language a {
    color: #fff;
    margin-bottom: 0px;
    padding-left: 3px;
}
/*
.header-languages :nth-child(1) a {
    height: 40px;
    width: 40px;
    background-image: url("../img/kz.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-languages :nth-child(2) a {
    height: 40px;
    width: 40px;
    background-image: url("../img/rf.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-languages :nth-child(3) a {
    height: 40px;
    width: 40px;
    background-image: url("../img/gb.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
*/

/*Burger menu*/
.menu {
    display: none;
}



/*Hellow block with text*/
.hellow_block {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/hellow_block.png");
    background-size: cover;
    width: 100%;
}

.mobfix {
    display: none;
}

.hellow_block-tag {
    font-size: 4rem !important;
}

.hellow_block-description {
    font-size: 1.5rem;
}


/*Slider*/
.slider-heading {
    font-family: 'Inter', sans-serif !important;
    font-size: 4rem;
    text-transform: uppercase;
    padding-left: 50px;
}

.slider {
    margin-top: 50px;
    font-family: 'Inter', sans-serif !important;
    text-transform: uppercase;
}

.slider-slide,
.slider-nav-block {
    position: relative;
    text-align: center;
}

.slider-nav-block {
    color: #C3C2C2;
    text-align: center;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.slider-sl {
    font-size: 1.8rem;
    background-image: url("../img/slider_bg.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.slider-sl p {
    height: 100%;
    width: 100%;
    padding: 25px;
}

.slider-nav-block p {
    text-align: left;
    border-bottom: 1px solid #F7654A;
    padding: 25px;
    margin-bottom: 0px;
}

.slick-current {
    color: #636363;
}

.slider-for .slick-track {
    display: flex !important;
    height: 100%;
}

.slider-for .slick-track .slick-slide {
    height: inherit !important;
    padding: 10px;
    min-height: 100%;
}
/*Message block*/
.brdr {
    border: 1px solid black;
}

.message {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.message-arrow {
    position: relative;
    align-self: center;
    border-bottom: 1px solid #FF2222;
}

.circle {
    position: absolute;
    top: -0.25em;
    right: 0px;
    background: #FF2222;
    clip-path: circle(50%);
    height: 0.5em;
    width: 0.5em;
}

.circle_rewerce {
    left: 0;
}

.message-block {
    font-size: 3rem;
    padding: 25px;
    background-color: #F7654A;
    text-align: center;
}

/*Text block*/
.text-block-heading {
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3C3B3B;
}

.text-block-subtitle {
    margin-top: 1.875rem;
    font-size: 1.875rem;
}

.text-block-subtitle_bordered {
    display: inline;
    border-bottom: 1px solid #F7654A;
}

.text-block-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-block-body-txt {
    position: relative;
    font-size: 1.875rem;
    text-align: left;
    padding: 25px;
}

.text-block-body-txt :nth-child(3) {
    margin-bottom: 0px;
}
.text-block-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-block-img {
    margin: auto;
    height: 30rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

/*.text-block-body-txt::before{
    content:"";
    position:absolute;
    top:0;
    left:30%;
    width:40%;
    border-top:1px solid #F7654A;
    
}
.text-block-body-txt::after{
    content:"";
    position:absolute;
    bottom:0;
    left:30%;
    width:40%;
    border-top:1px solid #F7654A;
    
}*/

/*Description slider*/
.slider-description-nav {
    display: flex;
    flex-direction: row;
    padding: 25px 0px;
}

.slider-description-nav a {
    font-size: 3rem;
    color: #000 !important;
}

.slider-description-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.slider-description-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    border-top: 1px solid #F7654A;
    border-bottom: 1px solid #F7654A;
}

.slider-description-column div {
    margin-top: 25px;
}

.column-heading {
    font-size: 3rem;
}

.column-picture {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    background-color: #f5b4ff;
}

.column-description {
    font-size: 1.5rem;
}

.slick-list {
    padding: 0px !important;
}

/*Form*/
.form-header {
    position: relative;
    font-size: 3rem;
    text-align: center;
}

.form-header p{
    display: inline;
    padding: 0px 10px 5px 10px;
    border-bottom: 1px solid #F7654A;
}

.form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.form-title {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    margin-bottom: 25px;
}

.form-body {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #F7654A;
    border-radius: 20px;
}

.form-block {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.form-input {
    display: flex;
    flex-direction: row;
}

.form-required {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-right: 25px;
}

.input-field {
    color: #000;
    border-radius: 20px;
    border: none;
    background-color: #fff;
}

.form_fio,
.form_tel {
    margin-bottom: 25px;
}

.form-required input {
    height: 50px;
}

.form-notrequired {
    width: 50%;
}

.form_info {
    width: 100%;
    height: 200px;
}

.form_send {
    margin-top: 25px;
    height: 50px;
    width: 25%;
    align-self: end;
}

/*Footer*/
.footer {
    width: 100%;
    background-color: rgba(00, 0, 00, 0.7);
}

.footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Mobile version*/

@media screen and (max-width: 1229px) {
    html {
        font-size: 14px;
    }

    .footer-body {
        justify-content: space-around;
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 989px) {
    .slider-description-nav a {
        font-size: 2.5rem;
    }

    .form-body {
        width: 100%;
    }

    .hellow_block-description {
        padding: 0px 10px;
    }

    section {
        margin-top: 40px;
    }

    .text-block-body-txt {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .header {
        font-size: 1.5rem;
    }

    .slider {
        margin-top: 50px;
    }

    .text-block-body-txt {
        margin-top: 2rem;
        font-size: 2.5rem;
        padding: 0px;
    }

    .text-block-subtitle_bordered {
        border: none;
        color: #F7654A;
    }

    .text-block-subtitle {
        font-size: 2.5rem;
    }

    .column-heading {
        font-size: 2.5rem;
    }

    .footer-body {
        font-size: 1rem;
    }

    .form_send {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 10px;
    }

    .header-logo {
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    .slider-heading {
        padding-left: 10px;
    }

    .hellow_block-tag {
        padding: 0 10px;
        font-size: 5rem !important;
    }

    .hellow_block-description {
        font-size: 2rem;
        text-align: left;
        width: 85%;
    }

    .mobfix {
        display: block;
    }

    .slider {
        margin-top: 10px;
    }

    .message-block {
        font-size: 2.5rem;
        padding: 10px;
    }

    .slider-description-nav a {
        font-size: 2.4rem;
        padding-left: 0px;
    }

    .slider-description-nav {
        justify-content: space-between;
    }

    .text-block-heading {
        font-size: 2.5rem;
    }

    .text-block-subtitle {
        font-size: 2rem;
    }

    .text-block-body-txt {
        font-size: 2rem;
        padding: 0px;
    }

    .text-block-subtitle_bordered {
        border: none;
    }
    .form-header {
        text-align: left;
    }
    .form-header p {
        padding: 0px 0px 5px 0px;
    }
    .form-input {
        display: flex;
        flex-direction: column;
    }

    .form-required {
        width: 100%;
        padding: 0px;
    }

    .form_mail {
        margin-bottom: 25px;
    }

    .form-notrequired {
        width: 100%;
    }

    .form-notrequired input {
        height: 100px;
    }

    .footer-body {
        display: flex;
        flex-wrap: wrap;
    }

}

/*MOBILE Burger*/
@media screen and (max-width: 576px) {
    .menu {
        display: flex;
        justify-content: space-between;
    }

    .header-menu {
        display: none;
    }
    .header-languages{
        display: none;
    }

    .menu-language {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover {
        color: #b1b1b1;
    }

    .ikona {
        margin: 5px;
    }

    .d {
        width: 35px;
        height: 5px;
        background: white;
        margin: 6px;
        border-radius: 3px;
        cursor: pointer;
        z-index: 1;
        transition: 0.6s;
    }

    .d:hover:nth-child(2) {
        transform: translateX(2px);
    }

    .overlay {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: rgba(00, 00, 0, 0.99);
        overflow-x: hidden;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .overlay a {
        padding: 8px;
        font-size: 36px;
        display: block;
    }

    .list {
        position: relative;
        top: 25%;
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .anim .overlay {
        opacity: 1;
        display: block;
    }

    .anim .d:nth-child(1) {
        transform: rotate(405deg) translate(5px, 10px);
    }

    .anim .d:nth-child(2) {
        transform: translateX(35px);
        opacity: 0;
    }

    .anim .d:nth-child(3) {
        transform: rotate(-405deg) translate(5px, -10px);
    }

    .header-language p {
        margin-bottom: 0px;
        font-size: 1rem;
        padding-left: 3px;
    }
    .menu-language .header-language{
        margin-left: 20px;
        font-size: 2rem;
    }



    /*.menu-language :nth-child(1) a {
        background-image: url("../img/kz.png");
    }

    .menu-language :nth-child(2) a {
        background-image: url("../img/rf.png");
    }

    .menu-language :nth-child(3) a {
        background-image: url("../img/gb.png");
    }*/
}