{% load static %}
{% csrf_token %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Oswald:wght@400;500&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/slick.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <title>Contour-Pro</title>

    <style type="text/css">
        .text-block-img {
            background-image: url("{% if info_title.img %} {{ info_title.img.url }} {% endif %}");
        }

        {% for offer in offers%}
            {% if forloop.counter == 1 %}

        /*для первого слайда*/
            .slider-sl {
                background-image: url("{{ offer.img.url }}");
            }

            {% else %}

        /*для 2-4 слада*/
            .slider-for .slick-list .slick-track :nth-child({{forloop.counter}}) {
                background-image: url("{{ offer.img.url }}");
            }

            {% endif %}
        {% endfor %}
    </style>
    <style>
        {% if lang == 'kz' %}

        @media screen and (max-width: 491px) {
        .form-header p{
        display: block;
        position: relative;
        border: none;
    }
        .form-header p::before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 55%;
        border-bottom: 1px solid #F7654A;
    }
    }
        {% endif %}

    </style>
</head>

<body>
    <div class="header fixed-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-2 col-md-12 col-sm-12 col-5 header-logo"> <a href="#main" class="txt_orange">
                        {% if lang == 'ru' %}
                        КОНТУР ПРО
                        {% else %}
                        CONTOUR PRO
                        {% endif %}
                    </a></div>
                <div class="col-lg-6 col-md-8 col-sm-8 txt_white header-menu">
                    {% if lang == 'ru' %}
                    <a href="#about">О НАС</a>
                    <a href='#contact'>КОНТАКТЫ</a>
                    <a href='#contact'>ОСТАВИТЬ ЗАЯВКУ</a>
                    {% elif lang == 'eng' %}
                    <a href="#about">ABOUT US</a>
                    <a href='#contact'>CONTACTS</a>
                    <a href='#contact'>OFFER</a>
                    {% else %}
                    <a href="#about">БIЗ ТУРАЛЫ</a>
                    <a href='#contact'>БАЙЛАНЫС</a>
                    <a href='#contact'>ӨТІНІШ ҚАЛДЫРУ</a>
                    {% endif %}
                </div>
                <div class="header-languages col-lg-2 col-md-3 col-sm-3">
                    <div class="header-language "><a href="{% url 'main:main_page' %}">KZ</a>
                    </div>
                    <div class="header-language "><a href="{% url 'main:page_with_lang' 'ru' %}">RU</a>
                    </div>
                    <div class="header-language "><a href="{% url 'main:page_with_lang' 'eng' %}">EN</a>
                    </div>
                </div>
                <div class='menu col-7'>
                    <div class="menu-language">
                        <div class="header-language "><a href="{% url 'main:main_page' %}">KZ</a>
                        </div>
                        <div class="header-language "><a href="{% url 'main:page_with_lang' 'ru' %}">RU</a>
                        </div>
                        <div class="header-language "><a href="{% url 'main:page_with_lang' 'eng' %}">EN</a>
                        </div>
                    </div>
                    <div class="menu-box">
                        <div class='ikona' onclick='menu(this)'>
                            <div class='d'></div>
                            <div class='d'></div>
                            <div class='d'></div>
                            <div class='overlay'>
                                <div class='list'>
                                    {% if lang == 'ru' %}
                                    <a href="#about">О НАС</a>
                                    <a href='#contact'>КОНТАКТЫ</a>
                                    <a href='#contact'>ОСТАВИТЬ ЗАЯВКУ</a>
                                    {% elif lang == 'eng' %}
                                    <a href="#about">ABOUT US</a>
                                    <a href='#contact'>CONTACTS</a>
                                    <a href='#contact'>OFFER</a>
                                    {% else %}
                                    <a href="#about">БIЗ ТУРАЛЫ</a>
                                    <a href='#contact'>БАЙЛАНЫС</a>
                                    <a href='#contact'>ӨТІНІШ ҚАЛДЫРУ</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="hellow_block" id="main">
            <div class="hellow_block-tag txt_white">
                {% if lang == 'ru' %}
                <p><span class="txt_orange">Превосходство</span> <br class="mobfix"> в измерениях</p>
                {% elif lang == 'eng' %}
                <p><span class="txt_orange">Excellence</span> <br class="mobfix"> in measurement</p>
                {% else %}
                <p><span class="txt_orange">Өлшеудегі</span> <br class="mobfix"> үстемдік</p>
                {% endif %}
            </div>
            <div class="hellow_block-description txt_white">
                <p>{{ main_page.text }}
                </p>
            </div>
        </div>

        <div class="container">
            <section>
                <div class="row slider-block" id="about">
                    <div class="col-lg-12 slider-heading">
                        <p><span class="txt_orange">{{ main_offer.name }}</p>
                    </div>
                    <div class="slider slider-nav col-lg-6">
                        {% for offer in offers%}
                        <div class="slider-nav-block">
                            <p>{{offer.name}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="slider slider-for col-lg-6">
                        {% for offer in offers%}
                        <div class="slider-sl txt_white">
                            {{ offer.text|safe}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        <section>
            <div class="message">
                <div class="message-arrow col-lg-4 col-md-3 col-sm-2 col-1">
                    <div class="circle"></div>
                </div>
                <div class="message-block txt_white col-lg-4 col-md-6 col-sm-8 col-10">
                    {% if lang == 'ru' %}
                    <a href="#contact">ОСТАВИТЬ ЗАЯВКУ</a>
                    {% elif lang == 'eng' %}
                    <a href="#contact">SUBMIT YOUR APPLICATION</a>
                    {% else %}
                    <a href="#contact">ӨТІНІШІҢІЗДІ ЖІБЕРІҢІЗ</a>
                    {% endif %}
                </div>
                <div class="message-arrow col-lg-4 col-md-3 col-sm-2 col-1">
                    <div class="circle circle_rewerce"></div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row text-block">
                    <div class="col-lg-12 text-block-heading">
                        <p class="col-lg-10">{{ info_title.name }}</p>
                    </div>
                    <div class="col-lg-6">
                        {% for info in infos_no_slider%}
                        <div class="col-lg-12 text-block-subtitle">
                            <div class="col-lg-12">
                                <p class="text-block-subtitle_bordered">{{ info.name }}</p>
                            </div>
                        </div>

                        <div class="col-lg-12 text-block-body">
                            <div class="col-lg-12 text-block-body-txt">
                                {% for mini_info in info.childcategoryinfos.all%}
                                <p>{{ mini_info.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-6 text-block-img-box">
                        <div class="text-block-img"></div>
                    </div>
                </div>
            </div>
            <!-- SLIDER  <div class="container">
                <div class="row">
                    {% for info in infos_slider%}
                    <div class="col-lg-12 text-block-subtitle">
                        <div class="col-lg-4">
                            <p class="text-block-subtitle_bordered">{{ info.name }}</p>
                        </div>
                    </div>
                    <div class="description-slider col-lg-12">
                        <div class="slider-description-nav col-lg-9 col-md-12 col-sm-12 col-12">
                            {% for title_mini_info in info.sliderinfos.all%}
                            <a href="#" data-slide="{{ forloop.counter }}"
                                class="col-xs-4 col-lg-4 col-md-3 col-sm-3">{{ title_mini_info.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="slider-description-for col-lg-12">
                            {% for title_mini_info in info.sliderinfos.all%}
                            <div class="">
                                <div class="slider-description-block">
                                    {% for mini_info in title_mini_info.sliderchildinfos.all%}
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-5 slider-description-column">
                                        <div class="column-heading">{{ mini_info.name }}</div>
                                        <div class="column-picture"></div>
                                        <div class="column-description">{{ mini_info.text|safe }}</div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
                                    {% endfor%}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>-->
        </section>
        <section>
            <div class="container" id="contact">
                <div class="row">
                    <div class="form-header">
                        {% if lang == 'ru' %}
                        <p>ГОТОВЫ СОТРУДНИЧАТЬ ?</p>
                        {% elif lang == 'eng' %}
                        <p>LET’S BEGIN TO COOPERATE!</p>
                        {% else %}
                        <p>ЫНТЫМАҚТАСТЫҚҚА ДАЙЫНСЫЗ БА?</p>
                        {% endif %}
                    </div>
                    <div class="form">
                        <form enctype="multipart/form-data" method="post" action="{% url 'main:feedback' lang %} "
                            class="form-body">
                            {% csrf_token %}
                            <div class="form-block">
                                {% if lang == 'ru' %}
                                    {% if invalid_recaptcha %}
                                        <p class="txt_white form-title">ЗАПОЛНИТЕ ПОЛЕ CAPTCHA</p>
                                    {% else %}
                                        <p class="txt_white form-title">ОСТАВЛЯЙТЕ ЗАЯВКУ И МЕНЕДЖЕР С ВАМИ СВЯЖЕТСЯ </p>
                                    {% endif %}
                                {% elif lang == 'eng' %}
                                    {% if invalid_recaptcha %}
                                        <p class="txt_white form-title">FILL IN THE CAPTCHA FIELD</p>
                                    {% else %}
                                    <p class="txt_white form-title">AFTER YOU MAKE THE ORDER, OUR MANAGER WILL CONTACT YOU
                                    </p>
                                    {% endif %}
                                {% else %}
                                    {% if invalid_recaptcha %}
                                        <p class="txt_white form-title">CAPTCHA ӨРІСІН ТОЛтырыңыз</p>
                                    {% else %}
                                    <p class="txt_white form-title">ӨТІНІШІҢІЗДІ ҚАЛДЫРЫҢЫЗ, МЕНЕДЖЕР СІЗБЕН БАЙЛАНЫСАДЫ
                                    </p>
                                    {% endif %}
                                {% endif %}
                                <div class="form-input">
                                    <div class="form-required">
                                        {{ form.fio }}
                                        {{ form.phone }}
                                        {{ form.email }}
                                    </div>
                                    <div class="form-notrequired">
                                        {{ form.comment }}
                                    </div>
                                </div>
                                <script type="text/javascript" src='{{ captcha_link }}'></script>
                                <div class="col-lg-12 captcha">
                                    <div 
                                    class="form-group g-recaptcha captcha_block col-lg-6 col-md-6 col-sm-12 col-12"  
                                    id="recaptchaContainer" 
                                    style="transform:scale(0.8);transform-origin:0 0" 
                                    data-sitekey="{{ data_sitekey }}"></div>
                                    {% if lang == 'ru' %}
                                    <input type="submit" value="ОТПРАВИТЬ" name="submit" class="input-field form_send col-lg-6 col-md-6 col-sm-12 col-12"
                                        placeholder="ОТПРАВИТЬ" required="" id="id_fio">
                                    {% elif lang == 'eng' %}
                                    <input type="submit" value="SEND" name="submit" class="input-field form_send col-lg-6 col-md-6 col-sm-12 col-12"
                                        placeholder="SEND" required="" id="id_fio">
                                    {% else %}
                                    <input type="submit" value="ЖІБЕРУ" name="submit" class="input-field form_send col-lg-6 col-md-6 col-sm-12 col-12"
                                        placeholder="ЖІБЕРУ" required="" id="id_fio">
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 footer-body">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-11 footer-right">
                            {% if lang == 'ru' %}
                            <a href="#main" class="col-lg-4 col-md-4  col-sm-4 txt_orange">КОНТУР ПРО</a>
                            <a href="{% static 'doc/ContourPRO.pdf' %}" class="col-lg-4 col-md-4  col-sm-4 txt_white">ДОКУМЕНТЫ</a>
                            <a href="#about" class="col-lg-3 col-md-3  col-sm-3 txt_white">О НАС</a>
                            {% elif lang == 'eng' %}
                            <a href="#main" class="col-lg-4 col-md-4  col-sm-4 txt_orange">CONTOUR PRO</a>
                            <a href="{% static 'doc/ContourPRO_ENG.pdf' %}" class="col-lg-4 col-md-4  col-sm-4 txt_white">DOCUMENTS</a>
                            <a href="#about" class="col-lg-3 col-md-3  col-sm-3 txt_white">ABOUT US</a>
                            {% else %}
                            <a href="#main" class="col-lg-4 col-md-4  col-sm-4 txt_orange">CONTOUR PRO</a>
                            <a href="{% static 'doc/ContourPRO_ENG.pdf' %}" class="col-lg-4 col-md-4  col-sm-4 txt_white">ҚҰЖАТТАР</a>
                            <a href="#about" class="col-lg-3 col-md-3  col-sm-3 txt_white">БІЗ ТУРАЛЫ</a>
                            {% endif %}
                        </div>
                        <div class="col-lg-4 col-md-6  col-sm-6 col-11 footer-left txt_white">
                            <a href="tel:+77781913670" class="col-lg-6 col-md-6 col-sm-6 ">+7 7781913670</a>
                            <a href="mailto:contourprokz@gmail.com"
                                class="col-lg-6 col-md-6 col-sm-6 ">contourprokz@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"> </script>

</body>

</html>